[submodule "common/.vim/bundle/The-NERD-Commenter"]
	path = common/.vim/bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "common/.vim/bundle/matchit.zip"]
	path = common/.vim/bundle/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "common/.vim/bundle/rainbow_parentheses.vim"]
	path = common/.vim/bundle/rainbow_parentheses.vim
	url = https://github.com:kien/rainbow_parentheses.vim.git
[submodule "common/.vim/bundle/vim-gitgutter"]
	path = common/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "common/.vim/bundle/vim-multiple-cursors"]
	path = common/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "common/.vim/bundle/vim-ruby"]
	path = common/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "common/.vim/bundle/ctrlp.vim"]
	path = common/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "common/.vim/bundle/nerdtree"]
	path = common/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "common/.vim/bundle/vim-markdown"]
	path = common/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "common/.vim/bundle/vim-powerline"]
	path = common/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "common/.vim/bundle/ag.vim"]
	path = common/.vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "common/.vim/bundle/vim-nerdtree-tabs"]
	path = common/.vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "common/.vim/bundle/neocomplcache.vim"]
	path = common/.vim/bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim.git
[submodule "common/.vim/bundle/vim-go"]
	path = common/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
